body {
    background: #000000;
}

.header {
    background: black;
    padding: 5%;
}

#title {
    justify-content: center;
    text-align: center;
    font-size: 100px;
    color: #ffffff;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 3%;
    display: block;
    position: fixed;
    background: black;
}
  
#menu ul { 
    list-style: none; 
    padding: 0px; 
}

#menu ul li #cart {
    display: inline; 
}

#menu ul li { 
    float: left; 
}

#menu ul li a { 
    display: block; 
    padding: 0 8px; 
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    line-height: 35px; 
    font-weight: bold; 
    margin-right: 6px;
  
}

#menu ul li a:hover { 
    color: #a8d6e7; 
}
  
#langingPage {
    font-weight: bold; 
    font-size: 20px;
    color: white;
    margin-right: 15%;
    height: 30px;
    width: 30px;
    float: right;
}

.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
  }
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#finalizePurchase {
    width: 20%;
    height: 10%;
    padding: 2%;
    border: 2px solid #d31900;
    border-radius: 10px;
    margin: 5%;
    background: white;
    color: #d31900;
    transition-duration: 0.4s;

}

#finalizePurchase:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px solid #4CAF50;
    background-color: #4CAF50; /* Green */
    color: white;
}

.rodape {
    padding: 3%;
    background: black;
}

.rodape p {
    color: #ffffff;
    font-size: smaller;
}

.rodape ul {
    margin-left: 20%;
    margin-right: 20%;
    list-style: none; 
    padding: 0px; 
}

.rodape ul li {
    display: inline-block; 
    margin: 5%;

}

.rodape img {
    height: 40px;
    width: 40 px;
    margin: auto;
}

.cards {
    margin-left: 10%;
    margin-right: 10%;
}

.cartDiv {
    padding: 10%;
    background: #ffffff;

}

.cartDiv img {
    height: 30%;
    width: 30%;
}

.cartDiv ul li {
    display: inline-block;
}

.cartDiv #item {
    margin: 4%;
    border: 2px solid  #D31900;
    border-radius: 10px;
}

#line {
    width: auto;
    height: 2px;
    margin-right: 5%;
    margin-left: 5%;
    background:#d31900
}

.payment {
    display: flex;
    float: right;
    margin-right: 5%;
}

.payment ul li{
    font-size: 40px;
}